language: java
jdk:
  - openjdk11
services:
  - docker  #需要的docker环境
before_install:
#  - docker pull king019/docker:builddocker
  - docker run -it -e DOCKER_PASSWORD=$DOCKER_PASSWORD -e DOCKER_USERNAME=$DOCKER_USERNAME -e ALIYUN_USERNAME=$ALIYUN_USERNAME -e ALIYUN_PASSWORD=$ALIYUN_PASSWORD --privileged -v /var/run/docker.sock:/var/run/docker.sock king019/docker:builddocker
#install:
#  - ls target
#  - mvn compile exec:java -Dexec.mainClass="com.k.docker.jenkins.JenkinsBuildShell" -Dexec.args="ws=/root/soft/docker@thread=1@rep=false@push=true"
script:
  - pwd
  - ls target
#  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
#  - echo "$DOCKER_PASSWORD" | docker login -u "$ALIYUN_USERNAME" registry.cn-shanghai.aliyuncs.com --password-stdin
#  - echo "$DOCKER_PASSWORD" | docker login -u "$ALIYUN_USERNAME" registry.cn-huhehaote.aliyuncs.com --password-stdin
#  - echo "$DOCKER_PASSWORD" | docker login -u "$ALIYUN_USERNAME" registry.cn-shenzhen.aliyuncs.com --password-stdin
#  - echo "$DOCKER_PASSWORD" | docker login -u "$ALIYUN_USERNAME" registry.cn-hangzhou.aliyuncs.com --password-stdin
#  - echo "$DOCKER_PASSWORD" | docker login -u "$ALIYUN_USERNAME" registry.cn-beijing.aliyuncs.com --password-stdin

#  - sh ./target/x86_64_true.sh  # push
notifications:
  email:
    - "$DOCKER_NOTIFY_EMAIL"